extends layout

block content

  .container
    header
      ul(class="nav nav-pills pull-right")
        li
          a(ng-href="#") Home
        li
          a(ng-href="#/list") Shop
      h3.text-muted Welcome to the mean store!
    ng-view
